// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$hero-bg-color: #eee;
$usp-bg-color: #eee;
$portfolio-bg-color: #545454;
$portfolio-text-color: #fefefe;

section {
	padding-top: 3rem;
	padding-bottom: 3rem;

	.section-title {
		text-align: center;
		margin-bottom: 2rem;
	}
}

section.hero {
	background-color: $hero-bg-color;

	.hero-content-wrapper {
		display: flex;
		flex-grow: 1;
		align-items: center;

		.hero-content {
			width: 100%;
		}
	}
}

section.usps {
	.usp {
		background-color: $usp-bg-color;
		padding-top: 2rem;
		padding-bottom: 2rem;

		h1 {
			margin-bottom: 0.5rem;
		}
	}
}

section.portfolio {
	background-color: $portfolio-bg-color;
	color: $portfolio-text-color;

	.portfolio-item {
		img {
			margin-bottom: 0.5rem;
		}
		h1 {
			font-size: 1.5rem;
			margin-bottom: 0;
		}
	}
}

section.contact {

}
